<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" >
</head>
<body>
    
    <div class="container">
        <h1>Film</h1>
        <table>
            <thead>
                <th>Titolo</th>
                <th>Regista</th>
                <th>Anno</th>
                <th>Rating</th>
            </thead>

            <tbody>
                <tr th:each="film : ${lista}">
                    <td th:text="${film.titolo}"></td>
                    <td th:text="${film.regista}"></td>
                    <td th:text="${film.anno}"></td>
                    <td th:text="${film.rating}"></td>
                </tr>

            </tbody>
        </table>
    </div>


    </body>
    </html>