<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" >
</head>
<body>
    
    <div class="container">

        <nav th:fragment="menu">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/prodotti}">Prodotti</a></li>
                <li><a th:href="@{/carrello}">Carrello</a></li>
            </ul>
        </nav>



        <h1>Benvenuti nel nostro e-commerce website</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, laboriosam. Quidem exercitationem numquam omnis deleniti perspiciatis suscipit alias est labore distinctio iusto ea explicabo impedit fugiat minus temporibus, eligendi repellendus!</p>
    </div>


</body>
</html>